$primary-color: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-greyish-cyan: hsl(186, 14%, 43%);
$light-greyish-cyan: hsl(185, 41%, 84%);


body{
    font-size:24px;
    font-family: monospace;
    background-color: $light-greyish-cyan !important;
}

header{
    padding-bottom: 150px;
    h3{
        letter-spacing: 0.3em;
        color: $very-dark-cyan;
        line-height: 26px;
        text-align: center;
        position: relative;
        top: 75px;
    }
}

@media (max-width: 990px) {
    header{
        padding-bottom: 75px;
        h3{
            top: 50px;
        }
    }

    .bill-area {
        width: 100% !important;
    }
}

@media (max-width: 650px) {
    .bill-area {
        height: unset !important;
        .right-section {
            width: unset !important;
            float: unset !important;
            padding: 10px !important;
            height: 250px !important;

            .col-sm-6.pplabel, .col-sm-6.ppamount{
                width:50%;
            }

            #resetBtn {
                margin-top: 25px !important;
            }
        }
        .left-section {
            width: unset !important; 
            float:unset !important;

            p#noOfPeopleValidation, p#billValidation, label{
                font-size: 14px !important;
           }

        .mobile {
            display:block !important;

            .col-sm-6.tip{
                width:50%;
                padding:0;
            }
        }

        .desktop {
            display:none !important;
        }

        }
    }
}

.bill-area{
    background-color: white;
    border-radius: 2rem;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    height: 440px;
    padding: 20px;
    
    .right-section{
        width:50%;
        float:right;
        height: 400px;
        border-radius: 10px;
        background-color: #00494d;
        padding:40px;

        .label{
            float:left;
        }

        .amount{
            float:right;
        }

        .tip-label-top{
            margin-bottom:0 !important;
             color: white; 
             letter-spacing: 0.1em;
        }

        .tip-label-bottom{
            margin-bottom:0 !important;
             color: $light-greyish-cyan; 
             letter-spacing: 0.1em;
             font-size: 12px;
        }

        h1#tipAmountPP, h1#totalAmountPP{
            color: $primary-color;
        }

        #resetBtn{
            width: 100%;
            border: 0;
            height: 40px;
            background:#0D686D;
            color:$very-dark-cyan;
            font-size: 20px;
            margin-top: 100px;
        }

    }

    .left-section{
        width: 45%;
        padding: 20px;
        float:left;

        .mobile {
            display:none;
        }

        .labelValidation {
            margin-top: 40px;
            letter-spacing: 0.1em;
            color: #00494d;
            margin-bottom: 0.5rem;
            padding-bottom: 5px;
        }

        p#noOfPeopleValidation, p#billValidation{
            float: right;
            color: red;
        }

        @media (max-width: 1200px) {
            p#noOfPeopleValidation, p#billValidation, label{
                font-size: 12px;
           }
        }



        label{
            letter-spacing: 0.1em;
            color: #00494d;
            margin-bottom: 0.5rem;
            padding-bottom: 5px;
        }

        .input-box{
            .dollarsign, .userEmoji{
                float: left;
                margin-top: -60px;
                margin-left: 25px;
                position: relative;
                z-index: 2;
                color: hsl(184, 14%, 56%);
            }
            input{
                width: 100%;
                height: 40px;
                color: hsl(184, 14%, 56%);
                border-radius: 8px;
                font-size: 22px;
                background: hsl(189, 41%, 97%);
                border: 0;
                margin-bottom:2rem;
                
                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                    -webkit-appearance: none;
                    margin: 0;
                }

                &::placeholder{
                    color: hsl(184, 14%, 56%);
                    position:relative;
                }
            }

            input[type=number]:focus {
                border:2px solid red;
                outline: none !important;
              }
            
        }

        .row{
            .tip-value{
                width:100%;
                height:40px;
                background-color: hsl(183, 100%, 15%);
                color: white;
                font-size: 20px;
                border-radius: 5px;
                border:0;
            }

            .tip-value.active{
                background-color: $primary-color !important;
                color:black !important;
            }

            .tip-value-custom{
                background-color: #f4fafa;
                color: #00494d;
                border: 0;
                padding: 0;
                margin: 0;
                height: 40px;
                cursor: pointer;
                width: 100%;
                border-radius: 5px;
                font-size:20px;
                outline: none !important;
                text-align: center;

                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                    -webkit-appearance: none;
                    margin: 0;
                }

                &::placeholder{
                    color:black;
                    font-size:20px;
                    text-align: center;
                }
            }

            .tip-value-custom.active{
                border:2px solid $primary-color !important;
                outline: none !important;
                text-align: center;
            }
        }



    
    }

}
